<%= render partial: 'shared/errors', locals: {current_object: @band} %>

<form action=<%= current_action %> method='post'>
  <input type='hidden'
         name='_method'
         value=<%= current_method %>>
  <%= auth_token %>

  <p>
    <label for='band_name'>Band Name:</label>
    <input type="string"
           name='band[name]'
           value=<%= @band.name %>
           id='band_name'>
  </p>

  <p>
    <input type="submit" value=<%= add_or_update %>>
  </p>

</form>
