<%= render partial: 'shared/errors', locals: {current_object: @track} %>

<form action=<%= current_action %> method='post'>
  <input type='hidden' name='_method' value=<%= current_method %>>
  <%= auth_token %>

  <p>
    <label for='track_name'>Track Name:</label>
    <input type="string"
           name='track[name]'
           value=<%= @track.name %>
           id='track_name'>
  </p>

  <p>
    <label for='album_id'>Album:</label>
    <select name='track[album_id]' %> id='album_id'>
      <% Album.all.each do |album| %>
        <option
          value=<%= album.id %>
          <%= 'selected' if @track.album_id == album.id %>
           ><%= album.name %></option>
      <% end %>
    </select>
  </p>

  <p>
    <label for='track_type'>Track Type</label>
    <br>
    <label>Studio:</label>
    <input type="radio"
           name='track[track_type]'
           value='regular'
           <%= "checked" if @track.track_type == 'regular' %>
           id='track_type'>
    <br>
    <label>Live:</label>
    <input type="radio"
           name='track[track_type]'
           value='bonus'
           <%= "checked" if @track.track_type == 'bonus' %>
           id='track_type'>
  </p>

  <p>
    <label for='lyrics'>Lyrics:</label>
    <br>
    <textarea name='track[lyrics]' id='lyrics'><%=@track.lyrics %></textarea>
  </p>

  <p>
    <input type="submit" value=<%= add_or_update %>>
  </p>

</form>
