<%= render partial: 'shared/errors', locals: {current_object: @album} %>
<form action=<%= current_action %> method='post'>
  <input type='hidden' name='_method' value=<%= current_method %>>
  <%= auth_token %>

  <p>
    <label for='album_name'>Album Name:</label>
    <input type="string"
           name='album[name]'
           value=<%= @album.name %>
           id='album_name'>
  </p>

  <p>
    <label for='band_id'>Band:</label>
    <select name='album[band_id]' %> id='band_id'>
      <% Band.all.each do |band| %>
        <option
          value=<%= band.id %>
          <%= 'selected' if @album.band_id == band.id %>
           ><%= band.name %></option>
      <% end %>
    </select>
  </p>

  <p>
    <label for='recording_type'>Recording Type</label>
    <br>
    <label>Studio:</label>
    <input type="radio"
           name='album[recording_type]'
           value='studio' checked
           id='recording_type'>
    <br>
    <label>Live:</label>
    <input type="radio"
           name='album[recording_type]'
           value='live'
           id='recording_type'>
  </p>

  <p>
    <input type="submit" value=<%= add_or_update %>>
  </p>

</form>
